/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Settings */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-transition: opacity .3s, visibility .3s, background-color .3s, -webkit-transform .3s;
  transition: opacity .3s, visibility .3s, background-color .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, visibility .3s, transform .3s, background-color .3s;
  transition: opacity .3s, visibility .3s, transform .3s, background-color .3s;
  transition: opacity .3s, visibility .3s, transform .3s, background-color .3s, -webkit-transform .3s;
}

html {
  font-family: "Poppins", sans-serif;
  color: #383F50;
}

/* body {
  position: relative;
} */

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Grid */
.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Common styles */

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section {
  padding: 30px 0;
}

.section:first-of-type {
  padding-top: 180px;
}

.section__title {
  font-size: 24px;
  margin-bottom: 14px;
}

.section__heading {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 0;
  background-color: #F4F6FA;
}

.header__logo {
  width: 50px;
}

.header__nav {
  position: relative;
  margin-bottom: 40px;
}

.header__nav::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #383F50;
}

.header__link {
  color: #383F50;
  font-weight: 700;
  text-transform: uppercase;
}

.header__link:first-child {
  margin-right: 15px;
}

/* Task styles */
.actual__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.task {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .3s .3s;
  transition: -webkit-transform .3s .3s;
  -o-transition: transform .3s .3s;
  transition: transform .3s .3s;
  transition: transform .3s .3s, -webkit-transform .3s .3s;

}

.task::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: -5px;
  width: calc(100% - 25px);
  height: 2px;
  z-index: 3;
  background-color: rgba(46, 50, 57, .5);
  border-radius: 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  -o-transition: transform .3s, opacity .3s, visibility .3s;
  transition: transform .3s, opacity .3s, visibility .3s;
  transition: transform .3s, opacity .3s, visibility .3s, -webkit-transform .3s;
}


.task__wrap-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.task__checkbox {
  opacity: 0;
  visibility: hidden;
}

.task__check-label {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 12px;
  text-align: left;
}

.task__check-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E8EAEE));
  background: -o-linear-gradient(top, #FFFFFF 0%, #E8EAEE 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEE 100%);
  border: 1.5px solid #CED1DA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
}

.task__check-label:hover {
  cursor: pointer;
}

.task__checkbox:checked+.task__check-label::before {
  background: url("../img/check.svg"), #e8eaee;
  background-repeat: no-repeat;
  background-size: 10px 9px;
  background-position: 3px center;
}

.task__wrap-input {
  position: relative;
  margin-right: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.task__text {
  width: 100%;
  z-index: 0;
  padding: 10px 15px;
  background: #F4F6FA;
  border-radius: 10px;
}

.task__text:focus {
  outline-color: #52CC86;
}

.task__text-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 15px;
}

.task__edit,
.task__delete {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.task__edit {
  margin-right: 5px;
}

.task__edit svg,
.task__delete svg {
  -webkit-transition: fill .3s .3s;
  -o-transition: fill .3s .3s;
  transition: fill .3s .3s
}

.task__edit svg {
  fill: #383F50;
}

.task__edit.active svg {
  fill: #52CC86;
}

.task__delete svg {
  fill: #383F50;
  width: 29px;
  height: auto;
}

.task__delete.active svg {
  fill: #EB5757;
}

.task-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}

.task-add__heading {
  width: 100%;
  text-align: center;
}

.task-add__text {
  background: #F4F6FA;
  border-radius: 10px;
  margin-right: 15px;
  padding: 10px 15px;
  width: 60%;
}

.task-add__text:focus {
  outline-color: #2F80ED;
}

.task-add__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.task-add__btn svg {
  width: 38px;
  height: auto;
  fill: #383F50;
  -webkit-transition: fill .1s;
  -o-transition: fill .1s;
  transition: fill .1s;

}

.task-add__btn.active svg {
  fill: #2F80ED;
}


/* Styles for complete tasks */

.task-complete input,
.task-complete button:first-of-type {
  opacity: 0.5;
}

.task-complete button:last-of-type svg {
  fill: #EB5757;
}

.task-complete::after {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.task-complete-animation {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}

/* Delete and empty modal styles */
.delete-modal,
.empty-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(56, 63, 80, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.delete-modal.active,
.empty-modal.active {
  opacity: 1;
  visibility: visible;
}

.delete-modal.active .delete-modal__container,
.empty-modal.active .empty-modal__container {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.delete-modal__container,
.empty-modal__container {
  max-width: 310px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.delete-modal__container {
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
}

.empty-modal__container {
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px)
}

.delete-modal__title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

.delete-modal__text {
  width: 100%;
  margin-top: 0;
  font-size: 16px;
}

.delete-modal__accept,
.delete-modal__decline {
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  color: #f2f2f2;
}

.delete-modal__accept {
  margin-right: 30px;
  background-color: #EB5757;
}

.delete-modal__decline {
  background-color: #B2B7BB;
}

.completed-tasks__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}