/* Settings */
* {
  box-sizing: border-box;
  font-size: 14px;
}

html {
  font-family: "Poppins", sans-serif;
  color: #383F50;
}

/* body {
  position: relative;
} */

input,
button {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Grid */
.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

/* Common styles */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 30px 0;
}

.section__title {
  font-size: 24px;
  margin-bottom: 14px;
}

.section__heading {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Header */

.header__nav {
  position: relative;
  margin-bottom: 40px;
}

.header__nav::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

/* Task styles */
.actual__row {
  flex-direction: column;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.task__wrap-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__checkbox {
  opacity: 0;
  visibility: hidden;
}

.task__check-label {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 12px;
  text-align: left;
}

.task__check-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 20px;
  height: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEE 100%);
  border: 1.5px solid #CED1DA;
  box-sizing: border-box;
  border-radius: 7px;
}

.task__check-label:hover {
  cursor: pointer;
}

.task__checkbox:checked+.task__check-label::before {
  background: url("../img/check.svg"), #e8eaee;
  background-repeat: no-repeat;
  background-size: 10px 9px;
  background-position: 3px center;
}

.task__wrap-input {
  position: relative;
  margin-right: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.task__text {
  width: 100%;
  z-index: 0;
  padding: 10px 15px;
  background: #F4F6FA;
  border-radius: 10px;
}

.task__text-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 15px;
}

.task__edit,
.task__delete {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__edit {
  margin-right: 5px;
}

.task__edit svg {
  fill: #383F50;
}

.task__edit.active svg {
  fill: #52CC86;
}

.task__delete svg {
  fill: #383F50;
  width: 29px;
  height: auto;
}

.task__delete.active svg {
  fill: #EB5757;
}

.task-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}

.task-add__heading {
  width: 100%;
  text-align: center;
}

.task-add__text {
  background: #F4F6FA;
  border-radius: 10px;
  margin-right: 15px;
  padding: 10px 15px;
  width: 60%;

}

.task-add__btn {
  cursor: pointer;
}



/* Styles for complete tasks */
.task.complete {
  position: relative;
  opacity: 0.5;
}

.task.complete::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 2px;
  z-index: 9;
  background-color: #2E3239;
  border-radius: 1px;
}

/* Delete and empty modal styles */
.delete-modal,
.empty-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(56, 63, 80, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.delete-modal.active,
.empty-modal.active {
  opacity: 1;
  visibility: visible;
}

.delete-modal.active .delete-modal__container,
.empty-modal.active .empty-modal__container {
  transform: translateY(0);
}

.delete-modal__container,
.empty-modal__container {
  max-width: 310px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  transition: transform .3s;
}

.delete-modal__container {
  transform: translateY(-200px);
}

.empty-modal__container {
  transform: translateY(200px)
}

.delete-modal__title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

.delete-modal__text {
  width: 100%;
  margin-top: 0;
  font-size: 16px;
}

.delete-modal__accept,
.delete-modal__decline {
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  color: #f2f2f2;
}

.delete-modal__accept {
  margin-right: 30px;
  background-color: #EB5757;
}

.delete-modal__decline {
  background-color: #B2B7BB;
}