/* Settings */
* {
  box-sizing: border-box;
  font-size: 14px;
}

html {
  font-family: "Poppins", sans-serif;
  color: #383F50;
}

input,
button {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Grid */
.container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

/* Common styles */

/* Header */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  position: relative;
  margin-bottom: 40px;
}

.header__nav::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #000;
}

/* Task styles */
.actual__row {
  flex-direction: column;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.task__wrap-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__checkbox {
  opacity: 0;
  visibility: hidden;
}

.task__check-label {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 12px;
  text-align: left;
}

.task__check-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 20px;
  height: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEE 100%);
  border: 1.5px solid #CED1DA;
  box-sizing: border-box;
  border-radius: 7px;
}

.task__check-label:hover {
  cursor: pointer;
}

.task__checkbox:checked+.task__check-label::before {
  background: url("../img/check.svg"), #e8eaee;
  background-repeat: no-repeat;
  background-size: 10px 9px;
  background-position: 3px center;
}

.task__wrap-input {
  position: relative;
  margin-right: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.task__text {
  width: 100%;
  z-index: 0;
  padding: 10px 15px;
  background: #F4F6FA;
  border-radius: 10px;
}

.task__text-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 15px;
}

.task__edit,
.task__delete {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__edit {
  margin-right: 5px;
}

.task__edit svg {
  fill: #383F50;
}

.task__edit.active svg {
  fill: #52CC86;
}

.task__delete svg {
  fill: #383F50;
  width: 29px;
  height: auto;
}

.task__delete.active svg {
  fill: #EB5757;
}

.task-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.task-add__text {
  background: #F4F6FA;
  border-radius: 10px;
  margin-right: 15px;
  padding: 10px 15px;

}

.task-add__btn {
  cursor: pointer;
}